<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ModbusSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <ModbusSample.Properties.Settings>
      <setting name="ComName" serializeAs="String">
        <value>Com1</value>
      </setting>
      <setting name="ProductA" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ProductB" serializeAs="String">
        <value>10</value>
      </setting>
    </ModbusSample.Properties.Settings>
  </userSettings>
</configuration>
