<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="LogPath" value="C:\Modbuslog\"/>
    <add key="VEMConfig" value="D:\Github\github_dotnetproject\ModbusSample\VEMConfig.xml"/>
  </appSettings>
</configuration>
