<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Pic2Vedio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
        <Pic2Vedio.Properties.Settings>
            <setting name="SockPort" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="OutPut" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultRate" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="MonitorFile" serializeAs="String">
                <value>F:\GitHub\github_dotnetproject\Pic2Vedio\Pic2Vedio\drawImages\save_images.xml</value>
            </setting>
        </Pic2Vedio.Properties.Settings>
    </applicationSettings>
</configuration>
