<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="KinectAudioRecognition.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="KinectCore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>  
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="KinectAudioRecognition.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>  
  <userSettings> 
    <KinectAudioRecognition.Properties.Settings>
      <setting name="RecognizerID" serializeAs="String">
        <value />
      </setting>
    </KinectAudioRecognition.Properties.Settings>
    <KinectCore.Properties.Settings>
      <setting name="LocalAddress" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="LocalPort" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="ServerAddress" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="LogEnable" serializeAs="String">
        <value>False</value>
      </setting>
    </KinectCore.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="default" value="SpeechGrammar.xml" />
    <add key="g1" value="Grammars\g1.xml"/>
  </appSettings>
  <applicationSettings>
    <KinectAudioRecognition.Properties.Settings>
      <setting name="UsingKinect" serializeAs="String">
        <value>False</value>
      </setting>
    </KinectAudioRecognition.Properties.Settings>
  </applicationSettings>
</configuration>
